body {overflow-x: hidden;}
h4 {color:white;}
.navbar-default { background-color: #ff8c0a; height: 85px;}
.navbar-center {text-align: center; margin-top: 20px;margin-left:450px;height:100%;}
.plus {width: 35px; height:35px; margin-top: 10px;margin-left: 10px;  }

.menu-container {width: 220px; height:100%; bottom: 0px; left:0px;top:0px;padding-top: 85px;position: absolute;float: left; background-color: #f7f7f7;
  z-index: 1;  cursor:pointer; border-top: 1px solid #FFF; border-right: 1px solid #dbdbdb; transition: width 1s, color 3s; }

.menu-container.clicked {width: 55px;color: transparent; transition: width 1s;}
.menu-container.clicked  #icon-inklap{transform: rotate(180deg); }
.menu-container.clicked .subitem {}

.menu-container a {text-decoration: none;vertical-align: middle;color: inherit;}

.hoofd-item {width: 100%;height:43px;background-color:  #f7f7f7;padding-top: 10px; padding-left: 5px;text-transform: uppercase;
  cursor:pointer; border-top: 1px solid #FFF;border-bottom: 1px solid #dbdbdb;transition: border .5s, padding 0.3s; }

.icon-hoofdmenu {width: 24px; height: 24px; margin-right: 10px; margin-left: 10px;}
#icon-inklap {float: right; height:30px; margin-right: 15px;margin-left: 0px;}

.icon-submenu {width: 17px; height:17px;margin-right: 10px;margin-left: -17px;}

.subitem {width: 100%; background-color: white; display: none; padding:10px;cursor:pointer;border-bottom: 1px solid #dbdbdb;
transition: border .5s, padding 0.3s;}

.subitem li {list-style-type:none;}

.toggleMenu {bottom: 0;left: 0px;width: 100%;  background-color: lightgrey;position: absolute;}

.container-inhoud {position: fixed;left:220px;right:0px;height:100%;bottom: 0px;padding-top:85px;background-color: white;transition:
  1s;overflow-y: scroll;}
.container-inhoud.click {left:55px;transition: 1s;}

.inhoud {width: 95%; margin: 0 auto; padding-top: 45px;}

.topbalk {width: 100%; position: fixed;background-color: #f7f7f7;height:45px;display: inline;z-index: 9999;padding-top: 15px;}

#chart_div {width: 60%;float: right;margin-top: -235px;}
#btn-group {float:right;margin-right: -600px;margin-top: 50px;}

.tabel-overzicht {margin top: 20px; width: 60%;}
