.btn-h1-spacing {
  margin-top: 18px;
}

.dataTables_wrapper .dataTables_filter input {
  width: 400px;
}

div.dt-buttons {
  margin-left: 10px;
}

.clickable-row {
  cursor: pointer;
}

.marginTop {margin-top: 120px;}
